html {
  position: relative;
  min-height: 100%;
}
.body-margin {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.full-height {
  height: 100%
}
.container {
  width: auto;
  max-width: 680px;
}
.cool-bg {
  padding: 0;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.container .text-muted {
  margin: 10px 0;
}
.container .text-muted .wider {
  margin: 0 5px
}
.spacer {
  height: 50%;
}
.inner {
  width: 100%;
  margin-top: 26.3%;
}
.btn-main {
  width: 275px;
  height: 110px;
  color: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
  border: 0;
  display: inline-block;
}
.btn-main:hover {
  color: rgba(0,0,0,0);
}