html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
html, body, .container {
  height: 100%
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.cool-bg {
  background: url(/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.container .text-muted {
  margin: 10px 0;
}
.container .text-muted .wider {
  margin: 0 5px
}