<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
      <a class="wider" href="index.html">Home</a> &ndash;
      <a class="wider" href="info.html">Info</a> &ndash;
      <a class="wider" href="contacts.html">Contact us</a> &ndash;
      <a class="wider" href="privacy.html">Privacy and Security</a> &ndash;
      <a class="wider" href="log.html">Log</a> &ndash;
      <a class="wider" href="{{ site.data.bot.url }}"><strong>Get it</strong></a> &ndash;
      <span class="wider">2016</span>
    </p>
  </div>
</footer>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>